@import '../variables.scss';

.util-wrapper {
  .col-sm-6 {
    &:nth-child(1) {
      text-align: left;
    }

    &:nth-child(2) {
      text-align: right;
    }
  }

  .col-sm-12 {
    text-align: right;
  }
}

.error-wrapper {
  margin: 25px 0;

  .error {
    font-family: courier;
  }
}

.line-alias {
  font-weight: bold;
  text-align: left;
  margin-bottom:15px;
  margin-top: 15px;
}
