@import '../variables.scss';

.mono {
  font-family: courier;
}

.key {
  font-weight: bold;
  text-transform: capitalize;
}

.toggle {
  cursor: pointer;

  .mono {
    display: inline-block;
  }

  &:hover {
    color: rgb(223, 37, 83);
  }
}

.expand-collapse {
  display: inline-block;
  padding-right: 5px;
}

.hash {
  margin-top:15px;
  padding-left:15px;

  > .row {
    flex-wrap: nowrap;
  }

  .moniker {
    display: block;
  }

  .packet {
    padding-left: 15px;
  }

  .expanded {
    border-left: 1px dashed rgba(0, 0, 0, .1);
  }

  .view-tab {
    cursor: pointer;
    padding: 5px;
    text-decoration: underline;

    &:first-child {
      padding-left: 0;
    }

    &:hover, &.selected {
      color: $todaRed;
    }
  }
}
