@import './lib/bootstrap.min';
@import './variables.scss';
@import './components/uploader.scss';
@import './components/inventory.scss';
@import './components/hash.scss';
@import './components/table.scss';
@import './components/file.scss';
@import './components/abject.scss';

body {
  font-family: $myfont;
  font-size: 12pt;
  color: $todaGrey;
  text-align: center;
  padding-top: 50px;
}

h2 {
  opacity: 0.5;
  font-size: 12pt;
}

.nav-header {
  margin-bottom: 25px;
  text-align: left;
}

.content {
  width: 80%;
  text-align: center;
  display: inline-block;
}

.container {
  margin-bottom: 50px;
}

img.main-img {
  max-width: 200px;
  margin-bottom: 25px;
}

ul {
  width: 90%;
}

i {
  font-size: small;
  font-style: normal;
  color: #555;
}

a {
  text-decoration: none;
  display: inline-block;
  color: $todaRed;

  &:hover {
    color: $todaGrey;
  }

  &:visited {
    color: rgb(175, 37, 83);
  }
}

[v-cloak] {
  display: none;
}

pre {
  background: #555555;
  color:white;
  text-align: left;
  overflow: scroll;
  padding: 5px;

  .inline-command {
    display:inline;
    padding: 1px 5px;
  }

  .code-block {
    overflow-x:scroll;
    padding: 10px
  }
}

.top-level-twist {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 15px 15px 15px;
  margin-bottom: 10px;
  overflow-x: scroll;
}

.separator {
  margin-top: 250px;
  margin-bottom: 25px;
  border-bottom:1px dotted rgba(0, 0, 0, 0.2);
}
